@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nova+Square&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-electro: "Electrolize", sans-serif;
    --color-nav-grey: #d8d8d8
}
@plugin "daisyui";

:root {
  --color-secondary: #1e293b;
}

nav, footer{
    background-color: var(--color-secondary);
}

body{
    background: linear-gradient(
    to bottom,
    #000000,
    #111827,
    #000000
  );
}
