@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nova+Square&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-electro: "Electrolize", sans-serif;
    --color-nav-grey: #d8d8d8
}
@plugin "daisyui";

:root {
  --color-background: #1A1A1A;
  --color-secondary: #2D2D2D;
  --color-accent: #A8FF00;
  --color-text: #FFFFFF;
  --color-neutral: #AAAAAA;
}

nav, footer{
    background-color: var(--color-secondary);
}

body{
    background-color: var(--color-background);
}

.sidebar{
    background-color: var(--color-neutral);
}

.text-neutral{
    color: var(--color-neutral);
}